<% provide(:title, 'Sign up') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <%= form_for(@user, url: signup_path, html: { class: "form" }) do |f| %>
              <%= render 'shared/error_messages' %>
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                      <%= f.text_field :name, class: 'form-control', placeholder: "First Name", required: true, autofocus: true %>
                  </div>
                  <div class="col-xs-6 col-md-6">
                      <%= f.number_field :age, class: 'form-control', placeholder: "Age", required: true, in: 16...100 %>
                  </div>
              </div>
              <%= f.email_field :email, class: 'form-control', placeholder: "Your Email", required: true %>
              <%= f.password_field :password, class: 'form-control', placeholder: "Password", required: true %>
             <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password confirmation", required: true %>
              <div class="row">
                <div class="col-xs-3 col-md-3">
                  <%= f.radio_button 'sex', 'male' %>
                  <%= f.label :male, class: "radio-inline" %>
                </div>
                <div class="col-xs-3 col-md-3">
                  <%= f.radio_button 'sex', 'female' %>
                  <%= f.label :female, class: "radio-inline" %>
                </div>
              </div>
              <br />
              <br />
              <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
        </div>
    </div>
</div>